<div class="cutting-room">
    <section class="player">
        <video src="media/copter.ogv" controls preload="auto">
            Your browser does not support the <code>video</code> element.
        </video>
    </section>

    <section class="library">
        <ul>
            {{#each library.videos}}
                <li>
                    <img src="{{thumbnail.uri}}"/>
                    <span class="thumbnail-duration">{{duration}}</span>
                    <span class="thumbnail-name">{{name}}</span>
                </li>
            {{/each}}
        </ul>

        <ul>
            {{#each library.audio}}
                <li>
                    <audio src="audio.ogg" controls>
                        <p>Your browser does not support the audio element </p>
                    </audio>
                    <span class="audio-name">{{name}}</span>
                </li>
            {{/each}}
        </ul>
    </section>

    <section class="timeline">
        <ol>
            {{#each storyboard.panels}}
                <li>
                    <img src="{{thumbnail.uri}}"/>
                </li>
            {{/each}}
        </ol>
    </section>

    <section class="social">

    </section>
</div>